.table-drag-select {
    /* Stretch horizontally to fill parent */
    width: 100%;
    /* Keep columns same width */
    table-layout: fixed;
    /* Disable text selection */
    user-select: none;
    /* Center in parent */
    margin-left: auto;
    margin-right: auto;
    /* Remove space between border */
    border-collapse: collapse;
}

/* Table cells */
.table-drag-select td {
    text-align: center;
    /* Cut off long strings of text with ... */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Make transparent gaps between cells. Better than relying on margin
     * because clicking an element's margin doesn't trigger events */
    border: 2px solid transparent;
    background-clip: padding-box;
    /* Make cells reasonable size */
    height: 31px;
    /* Shows more text when text too big to fit into cell */
    padding-left: 0rem;
    padding-right: 0rem;
}
/* Cells that cannot be interacted with */
.table-drag-select tr.not-validation td {
    /* Put yer css here */
    background-color: #f5811f;
    color: #fff;
}
/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
    background-color: #fff;
    /* Make the cursor a + symbol */
    cursor: cell;
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-disabled {
    /* Put yer css here */
    background-color: #fff;
    color: #777;
}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
    background-color: #4b85ff;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
    /* This is the blue color you see when you select text with the cursor */
    background-color: #3c568e;
}

.table-drag-select td.cell-enabled-input {
    position: relative;
    padding: 5px;
    background-color: #fff;
}

.table-drag-select td.cell-enabled-input input[type='text'] {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #f9fafb;
}

.table-drag-select td.cell-enabled-input input[type='text']:focus {

    background-color: #ffffff;
}

.table-drag-select td.cell-enabled-input span.cell-input-percent {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-40%);
    font-size: 10px;
    color: #777777;
}